@charset "UTF-8";
html {
  background-color: #f1f9fe;
}

.template {
  width: 100%;
  background: url(../img/title.png) no-repeat;
  background-size: 100%;
  position: relative;
  font-size: 0.14rem;
  background-color: #f1f9fe;
}

.template .title_text {
  position: absolute;
  top: 1.28rem;
  left: 14.42rem;
  font-size: .12rem;
  color: #8C00F8;
}

.template .title_text > span {
  display: block;
}

.template .title_text > span i {
  font-size: 0.12rem;
}

.template .physically {
  width: 12rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 2.73rem;
  margin-bottom: 1rem;
}

.template .physically .search {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3793ef), to(#60b8fa));
  background: linear-gradient(to bottom, #3793ef 0%, #60b8fa 100%);
  height: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-left: .42rem;
  padding-right: .4rem;
}

.template .physically .search > span:nth-child(1) {
  font-size: .23rem;
}

.template .physically .search > span:nth-child(2) {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.template .physically .search > .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  Mozilla Firefox 4-18使用伪类 */
  /* Mozilla Firefox 19+ 使用伪元素  */
  /* IE10使用伪类 */
}

.template .physically .search > .search_input i {
  color: #fff;
  background-color: #5272fa;
  border-radius: 4px;
  width: 0.52rem;
  height: 0.4rem;
  font-size: 0.2rem;
  text-align: center;
  line-height: .4rem;
  cursor: pointer;
  z-index: 999;
}

.template .physically .search > .search_input input {
  color: #000;
  padding: .15rem;
  height: 0.4rem;
  width: 1.9rem;
  font-size: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  padding-left: .25rem;
}

.template .physically .search > .search_input input::-webkit-input-placeholder {
  color: #666;
  /* 字体大小直接写样式即可 */
  font-size: 12px;
}

.template .physically .search > .search_input input:-moz-placeholder {
  color: #666;
}

.template .physically .search > .search_input input::-moz-placeholder {
  color: #666;
}

.template .physically .search > .search_input input:-ms-input-placeholder {
  color: #666;
}

.template .physically .box {
  position: relative;
}

.template .physically .box .swiper-wrapper {
  width: 12rem;
  height: 6rem;
}

.template .physically .box .swiper-wrapper img {
  width: 12rem;
  height: 6rem;
}

.template .physically .box .swiper-pagination > span {
  width: 0.2rem;
  height: 0.2rem;
  background-color: #fff;
}

.template .physically .box:hover > .box_left {
  width: 2.8rem;
  transition: width 1s;
  -moz-transition: width 1s;
  /* Firefox 4 */
  -webkit-transition: width 1s;
  /* Safari 和 Chrome */
  -o-transition: width 1s;
  /* Opera */
}

.template .physically .box .box_left {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(30, 30, 30, 0.5);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: .2rem;
  padding-bottom: .6rem;
  width: 0;
  font-size: .2rem;
  color: #fff;
}

.template .physically .box .box_left span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template .physically .box .box_left span:hover {
  color: #007acc;
  cursor: pointer;
}

.template .physically .box .box_left span img {
  width: 0.4rem;
  margin-left: .2rem;
  margin-right: 0.12rem;
}

.template .physically .column {
  margin: 0.2rem 0;
}

.template .physically .listData ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.template .physically .listData ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32.5%;
  min-height: 2.68rem;
  margin-bottom: .2rem;
  padding: 0;
  background-color: #fff;
}

.template .physically .listData ul li > div {
  width: 100%;
  border: 1px solid #d7d7d7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: .28rem .1rem;
  background-color: #fff;
}

.template .physically .listData ul li > div > span {
  font-size: .16rem;
  width: 33.3%;
  cursor: pointer;
}

.template .physically .listData ul li > div > span i {
  font-size: .12rem;
  margin-right: .02rem;
}

.template .physically .listData ul li > div > span:hover {
  color: #71a1f5;
}

.template .physically .pufa {
  background-color: #fff;
  padding: .3rem .27rem .41rem .33rem;
}

.template .physically .pufa .title {
  font-size: .2rem;
  position: relative;
  margin-bottom: 0.4rem;
  letter-spacing: .01rem;
  font-weight: 600;
}

.template .physically .pufa .title:before {
  content: '';
  position: absolute;
  display: block;
  width: .7rem;
  height: .05rem;
  background-color: #0847fd;
  bottom: -.1rem;
}

.template .physically .pufa .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template .physically .pufa .content > img {
  width: 4.34rem;
  min-height: 3.51rem;
}

.template .physically .pufa .content .text {
  position: relative;
  width: 4.2rem;
  padding: 0 .6rem .6rem .26rem;
  font-size: 0.15rem;
  text-indent: 1em;
  min-height: 3.51rem;
}

.template .physically .pufa .content .text > div {
  text-indent: 2em;
  margin-bottom: .1rem;
}

.template .physically .pufa .content .text > span {
  display: block;
  position: absolute;
  right: 0.6rem;
  bottom: 0;
  padding: 0 .15rem;
  border: 1px solid #d7d7d7;
  border-radius: .08rem;
  text-align: center;
  line-height: 0.39rem;
  text-indent: 0;
  cursor: pointer;
}

.template .physically .pufa .content .text > span:hover {
  color: #71a1f5;
  border-color: #71a1f5;
}

.template .physically .pufa .content .activity {
  width: 2.79rem;
}

.template .physically .pufa .content .activity .activity_title {
  background-color: #3c9ff5;
  height: 0.74rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.18rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template .physically .pufa .content .activity .activity_content {
  padding: .4rem .2rem 0 .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dcf0fe;
  min-height: 2.75rem;
}

.template .physically .pufa .content .activity .activity_content i {
  display: inline-block;
  color: #3a9fee;
  -webkit-transform: translateY(-0.01rem);
          transform: translateY(-0.01rem);
}

.template .physically .pufa .content .activity .activity_content > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template .physically .pufa .content .activity .activity_content > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  margin-bottom: 0.1rem;
}

.template .physically .legal {
  background-color: #fff;
  padding: .3rem .27rem .41rem .33rem;
  margin: .2rem auto;
}

.template .physically .legal .title {
  font-size: .2rem;
  position: relative;
  margin-bottom: 0.4rem;
  letter-spacing: .01rem;
  font-weight: 600;
}

.template .physically .legal .title:before {
  content: '';
  position: absolute;
  display: block;
  width: .7rem;
  height: .05rem;
  background-color: #0847fd;
  bottom: -.1rem;
}

.template .physically .legal .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.template .physically .legal .content ul li {
  width: 2.76rem;
  border-bottom: 3px solid #fff;
}

.template .physically .legal .content ul li .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .31rem;
}

.template .physically .legal .content ul li .list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template .physically .legal .content ul li .list h5 {
  margin: .2rem 0;
  font-weight: 600;
  font-size: 0.2rem;
  table-layout: fixed;
  word-wrap: break-word;
  word-break: normal;
  text-align: justify;
  text-justify: inter-ideograph;
  letter-spacing: .01rem;
}

.template .physically .legal .content ul li .list .list_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.template .physically .legal .content ul li .list .list_data i {
  color: #339df9;
  display: inline-block;
  -webkit-transform: translateY(-0.03rem);
          transform: translateY(-0.03rem);
}

.template .physically .legal .content ul li .list .list_data > span {
  font-size: 0.15rem;
}

.template .physically .legal .content ul li:hover {
  -webkit-box-shadow: 1px 0 5px #888888;
          box-shadow: 1px 0 5px #888888;
  border-bottom: 3px solid red;
}

.template .physically .culture {
  background-color: #fff;
  padding: .3rem .27rem .41rem .33rem;
  margin: .2rem auto;
}

.template .physically .culture .title {
  font-size: .2rem;
  position: relative;
  margin-bottom: 0.4rem;
  letter-spacing: .01rem;
  font-weight: 600;
}

.template .physically .culture .title:before {
  content: '';
  position: absolute;
  display: block;
  width: .7rem;
  height: .05rem;
  background-color: #0847fd;
  bottom: -.1rem;
}

.template .physically .culture .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template .physically .culture .center img {
  width: 50%;
}

.template .physically .culture .center .culture_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0 .34rem 0 .49rem;
}

.template .physically .culture .center .culture_right .right_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.1rem;
  padding-right: .4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .2rem;
  font-weight: 600;
}

.template .physically .culture .center .culture_right .right_title span {
  line-height: .35rem;
  color: #535353;
  border-bottom: .03rem solid #535353;
}

.template .physically .culture .center .culture_right .right_title span:hover {
  color: #3da0f1;
  cursor: pointer;
  border-bottom: .03rem solid #3da0f1;
}

.template .physically .culture .center .culture_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template .physically .culture .center .culture_right ul li {
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.53rem;
  font-size: 0.14rem;
  line-height: 0.55rem;
  margin-bottom: 0.05rem;
  padding-right: .05rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #d7d7d7;
}

.template .physically .culture .center .culture_right ul li em {
  font-style: normal;
}

.template .physically .culture .center .culture_right ul li i {
  color: #000;
  font-size: 0.12rem;
  margin-right: .1rem;
}

.template .physically .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.template .physically .videoData {
  background-color: #fff;
  padding: .3rem .27rem .41rem .33rem;
  margin: .2rem auto;
}

.template .physically .videoData > span {
  display: block;
  font-size: 0.2rem;
  font-weight: 600;
  margin-top: 0.1rem;
}

.template .physically .videoData .title {
  font-size: .2rem;
  position: relative;
  margin-bottom: 0.4rem;
  letter-spacing: .01rem;
  font-weight: 600;
}

.template .physically .videoData .title:before {
  content: '';
  position: absolute;
  display: block;
  width: .7rem;
  height: .05rem;
  background-color: #0847fd;
  bottom: -.1rem;
}

.template .physically .videoData .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.template .physically .videoData .center img {
  width: 65%;
}

.template .physically .videoData .center .videoData_right::-webkit-scrollbar {
  display: none;
}

.template .physically .videoData .center .videoData_right {
  width: 35%;
  background-color: #dcf0fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.17rem;
  padding-top: .2rem;
}

.template .physically .videoData .center .videoData_right > span {
  color: #4e5d69;
  font-size: .16rem;
  border-bottom: 1px dashed #4e5d69;
  text-align: center;
  min-height: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.template .physically .videoData .center .videoData_right > span:hover {
  color: #007acc;
  border-bottom: 1px dashed #007acc;
}

.template .physically .consult {
  background-color: #3c9ff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .34rem;
}

.template .physically .consult h5 {
  font-size: 0.3rem;
  font-weight: 600;
  color: #fff;
}

.template .physically .consult img {
  margin-top: 0.3rem;
  margin-bottom: 0.34rem;
}

.template .physically .consult ul {
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template .physically .consult ul li {
  padding: 0.1rem;
  padding-left: 0;
  padding-top: 0.15rem;
  color: #fff;
  font-size: 0.16rem;
  border-bottom: 1px dashed #fff;
}

.template .physically .consult ul li i {
  font-size: 0.16rem;
  display: inline-block;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.template .physically .consult ul li:hover {
  cursor: pointer;
  color: blue;
  border-bottom: 1px dashed blue;
}

@media (max-width: 1200px) {
  .columns {
    width: 49% !important;
  }
  .small48 {
    width: 48% !important;
  }
  .big100 {
    width: 100% !important;
  }
  .nobody {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .small100 {
    width: 100% !important;
  }
  .small50 {
    width: 50% !important;
  }
  .small48 {
    width: 48% !important;
  }
  .nobody {
    display: none !important;
  }
}
/*# sourceMappingURL=index.css.map */